body {
    font-family: Arial, sans-serif;
    background-color: white ;

  }
  input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: black;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: black;
  }
  
  h3 {
    margin-top: 0;
  }
  
  p {
    line-height: 1.5;
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  